@font-face 
{
    font-family: 'droid_sansregular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-webfont.woff') format('woff'),
         url('DroidSans-webfont.ttf') format('truetype'),
         url('DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
    background-image: url('styless.jpg');
}

h1, h2
{
    font-family: 'droid_sansregular', 'Arial', sans-serif;
}

h1, h1 + p
{
    text-align: center;
}

img
{
    float: right;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}
h1{
    color: #272fae;
    font-family: comic sans MS;
}
h2
{
    color: #444cc4;
    font-family: comic sans MS;
}
li{
    color: #31323c;
    font-family: comic sans MS;
}
p{
    color: #31323c;
    font-family: comic sans MS;
}

section
{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 2%;
}

#liseret, #contenu
{
    display: inline-block;
    vertical-align: top;
}

#liseret
{   
    width: 10%;
    margin-right: 3%;
    height: 500px;
    background-image: url('lodyas.png');
    border-radius: 10px;
}

#contenu
{
    width: 85%;
}


@media all and (max-width: 1024px)
{
    section
    {
        display: block;
        width: auto;
    }

    #liseret 
    {
        display: none;
    }

    #contenu 
    {
        width: auto;
    }

}