#conteneur{
    display: flex;
   
   height: 200px;
    border: 2px solid #444;
}

.element{
    width: 150px;
    height: 100px;
}

.element:nth-child(1){
    background-color: orange;
    flex: 1;
}
.element:nth-child(2){
    background-color: blue;
    flex: 2;
}
.element:nth-child(3){
    background-color: #ad6;
}