body{
    background-color: #85cff7;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

#list_section{
    text-align: center;
}

h1{
    color: white;
    margin: 0px auto;
    padding: 20px;
}

ul{
    padding: 0;
}

li{
    background-color: #fff;
    color: #000;
    font-size: 20px;
    list-style-type: none;
    width: 20%;
    margin: 0px auto;
    border-radius: 3px;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
}

p{
    background-color: #fff;
    color: #666;
    padding: 10px;
    display: inline-block;
    margin: 20px auto 20px auto;
    width: 80%;
    border-radius: 5px;
    text-align: center;
}

.item{
    background-color: #fff;
    color: #000;
}
.item2{
    background-color: rgb(69, 209, 41);
    color: rgb(255, 255, 255);
}
.item3{
    background-color: rgb(209, 41, 187);
    color: rgb(255, 255, 255);
}

input[type='text']{
    font-size: 12px;
    padding: 6px;
    border: 1px solid #000;
    border-radius: 3px;
}

input[type='submit']{
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    border: none;
    padding: 5px;
}

#newItemButton{
    display: none;
}

#itemField{
    margin-top: 60px;
    width: 10%;
}