body{
    background-color: rgb(231, 226, 226);
}
.cls-1{
    fill:#1877F2;
}
.iface{
    width: 300px;
    padding-top: 200px;
}
.text  {     
    font-family: Helvetica, Arial, sans-serif;
    width: 500px;
}
.form-control{
    height: 50px;
}
.btn-primary{
    width: 360px;
}
.form{
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
    box-sizing: border-box;
    width: 396px;
    margin-top: 150px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    height: 340px;
}
.btn-success{
    background-color: #2ec24e;
    width: 250px;
}
.pass a{
    text-decoration:none;
}
.pass{
    padding-top: 20px;
}
.trait{
padding-top: 20px;
border-bottom-color: rgb(218, 221, 225);
border-bottom-style: solid;
border-bottom-width: 1px;
text-align: center;
}
.linke{
    padding-top: 10px;
}
.bas{
    padding-top: 10px;
    width: 400px;
    text-align: center;
}
.bas a{
    color: black;
    text-decoration: none;
}
